<%- include('./template/openTemplate') %>
<%- include('./template/header') %>

<form class="form" action="/postQuestion" method="POST">
  <div class="mb-3" >
    <label class="fs-4" for="question">Add Question</label>
    <input type="text" placeholder="Question" id="question"  name="question" required>
  </div>
  <div class="mb-3">
    <label for="description" class="fs-4">Description</label>
    <textarea type="text"  id="description" name="description" required></textarea>
  </div>
  <button type="submit" class="btn rounded-0" id="btn-insertion">Submit</button>
</form>


<%- include('./template/closeTemplate') %>